<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>TECOEnvSensor Web</title>

    <!-- Latest compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"> -->
  </head>
  <body>
    <input id="inputData" type="text"  placeholder="database" value="maschmdb"/>
    <input id="inputPass" type="password" placeholder="password" value="pwoert321"/>
    <input id="inputTimeseries" type="text" placeholder="timeseries" value="mytimeseries"/>
    <button id="btnRefresh" type="button">Refresh</button>
    <canvas id="myChart" width="400" height="400"></canvas>
  </body>
</html>
